
/* CSS File */




body {
    background-image: url("a62.png");
    background-repeat: repeat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.page1 {
    max-width: 1024px;
    width: 100%;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    background-color: white;
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    background-color: black;
    color: white;
    margin: 0;
    padding: 20px;
}

.gridPart {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    gap: 0;
    padding: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li a {
    display: block;
    background-color: red;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 8px 36px 8px 8px;
    margin-bottom: 2px;
}

ul li a:hover {
    background-color: rgb(194, 18, 18);
}

.centerPart {
    padding: 0 10px;
}

h2 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin-top: 0;
}

img {
    border: 3px solid black;
    width: 100%;
    display: block;
}

.rightPart p {
    font-family: Georgia, serif;
    text-align: justify;
    font-weight: bold;
    margin-top: 0;
    padding: 0 10px;
}

.paragraphSection {
    padding: 0 10px;
}

.paragraphSection p {
    font-family: Georgia, serif;
    text-align: justify;
}

.paragraphSection p a:link,

.paragraphSection p a:visited {
    color: red;
    font-weight: bold;
    text-decoration: none;
}

.paragraphSection p a:hover {
    color: blue;
    text-decoration: underline;
}

.footerSection {
    background-color: red;
    padding: 10px 20px;
}

.footerSection p {
    font-family: Verdana, Geneva, sans-serif;
    font-style: italic;
    text-align: center;
    color: white;
    margin: 0;
}
